{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ object.title }}</h1>
                <p class="post-subtitle">{{ object.author }} | {{ object.created_on|date:"F j, Y" }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if object.industry == "FS" %}
                    <img src="{% static 'images/financial_services.jpg' %}" class="scale" alt="Financial Services">
                {% elif object.industry == "COM" %}
                    <img src="{% static 'images/commercial.jpg' %}" class="scale" alt="Commercial">
                {% elif object.industry == "MAN" %}
                    <img src="{% static 'images/industrial.jpg' %}" class="scale" alt="Manufacturing">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p><strong>Industry:</strong> {{ object.get_industry_display }}</p>
                <p><strong>Required Experience:</strong> {{ object.required_experience }}</p>
                <p class="card-text">
                    {{ object.role_description|safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
