{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Consulting Assignments Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for assignment in assignments %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ assignment.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'assignment_detail' assignment.slug %}" class="post-link">
                                <h2 class="card-title">{{ assignment.title }}</h2>
                            </a>
                            <p class="card-text">{{ assignment.role_description|truncatewords:30|safe }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ assignment.created_on|date:"F j, Y" }}</p>
                            <p class="card-text text-muted h6">Industry: {{ assignment.get_industry_display }}</p>
                            <p class="card-text text-muted h6">Status: {{ assignment.get_status_display }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
{% block copyright %}
    Copyright 2025 Bjorn Bishop
{% endblock %}