<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulting Assignments</title>
</head>

<body>
    <h1>Consulting Assignments List</h1>
    {% for assignment in assignments %}
    <h2>{{ assignment.title }}</h2>
    <p>{{ assignment.excerpt }}</p>
    <p>Author: {{ assignment.author }}</p>
    <p>Industry: {{ assignment.get_industry_display }}</p>
    <p>Status: {{ assignment.get_status_display }}</p>
    
    <h3>Comments:</h3>
    {% for comment in assignment.comments.all %}
    <div>
        <p>{{ comment.body }}</p>
        <p>Author: {{ comment.author }}</p>
        <p>Created on: {{ comment.created_on }}</p>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
    {% endfor %}
</body>

</html>