{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <!-- Page Title -->
  <div class="row mb-4">
    <div class="col-12">
      <h1>About the Creator</h1>
    </div>
  </div>

  <!-- Existing Content -->
  <div class="row">
    <div class="col-4 text-center">
      {% if "placeholder" in about.profile_image.url %}
      <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="placeholder image" >
      {% else %}
      <img src="{{ about.profile_image.url }}" width="75%" alt="{{ about.title }}">
      {% endif %}
    </div>
    <div class="col-8">
      <h2>{{ about.title }}</h2>
      {{ about.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>

  <!-- Collaborate Form Section -->
  <div class="row mt-5">
    <div class="col-12">
      <h3>Apply for a specific role</h3>
      <form method="POST" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
